@value makerBlack, makerWhite from '../../common/colors.css';

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: makerWhite;
  min-height: 30em;
}
.title {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5em;
  margin-bottom: 3em;
}
.loginTitle {
  font-size: 2em;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 0.5em;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.loginInLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button {
  width: 7em;
  cursor: pointer;
  font-size: 1.5em;
  background-color: makerBlack;
  color: makerWhite;
  border-radius: 0.2em;
  margin-bottom: 1em;
}
.button:hover {
  background-color: makerWhite;
  color: makerBlack;
}
